.content {
  display: flex;
  background-color: var(--secondary-background);
  border-radius: 12px;
  padding: 24px;
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #e5e7eb;
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.tags__wrapper {
  background-color: var(--secondary-background);
  border-radius: 12px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  height: fit-content;
}

.drawer__content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 0;
  background-color: var(--mantine-color-body); /* optional */
}

.drawer__body {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 24px;
}

.tiktok__container {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 16px;
  background-color: var(--background-color);
}

.tiktok__wrapper {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 480px;
  overflow: hidden;
}

.tiktok__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.list {
  padding-bottom: 16px;
}

ol li.list::marker {
  font-size: 24px;
  font-weight: bold;
}

.carousel {
  width: 100%;
}

.carousel img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel button {
  background-color: var(--primary-color);
}
