.card {
  background-color: var(--mantine-color-body);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;

  @mixin hover {
    transform: scale(1.01);
  }
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 450;
  color: white;
}

.footer {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.card__img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 12px;
}
